# SQLite Data
*.sqlite

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.swp
*.*~
.DS_Store
*.pyc

# Build results
[Nn]upkg/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Publish results
[Pp]ublish/
[Pp]ublishing/

# Test Results
[Tt]est[Rr]esult*/
[Tt]est[Rr]esults*/
[Bb]uild[Ll]og.*

# Visual Studio
.vs/
project.lock.json
