@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <a href="https://github.com/andreraica/ScooterRental">André Raiça Silva - GitHub</a>
</address>

<address>
    <strong>Support:</strong>   <a href="https://github.com/andreraica/ScooterRental">Readme</a><br />
</address>