<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TrackingQueueConnectionString" value="Endpoint=sb://scotterrentalqueue.servicebus.windows.net/;SharedAccessKeyName=SystemUser;SharedAccessKey=;" />
    <add key="TrackingQueueName" value="tracking" />
  </appSettings>
</configuration>